<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Cheaper Choice</title>

  <!-- Mixmax SDK -->
  <script defer src="https://d1xa36cy0xt122.cloudfront.net/v1/Mixmax.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcAMzGs3-EfpHVMmFjUJvPrX02QIjug0A&libraries=places"></script>
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="/app.js"></script>

</head>
<body>
  <div class="container">
    <header>
      <h3>Enter your start and end address for a route and Uber price estimate</h3>
    </header>
    <div>
      <form class="findPrice">
        <div class="form-group row">
          <div class="col-sm-6">
            <input id="start" type="text" name="start" class="form-control" placeholder="Enter Origin Address">
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <input id="end" type="text" name="end" class="form-control" placeholder="Enter Destination Address">
          </div>
        </div>

        <div class="form-group row">
          <div class='col-sm-3'>
            <button class="btn" type="submit" name="submit">Get Estimates</button>
          </div>  
        </div>
      </form>
    </div>
    <div id="estimates"></div>
    <div id="map"></div>
  </div>

</body>
</html>
