<!DOCTYPE html>
<html>
<head>
  <title>Cheaper Choice</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/vendor/jquery/dist/jquery.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/vendor/underscore/underscore.js"></script>
  <script src="/static/js/app.js"></script>
</head>
<body>
  

  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>ToEat.ly <small>Put it in my belly!</small></h1>
    </header>
  </div>
  

  
</body>
</html>











