<!DOCTYPE html>
<html lang="en-us" ng-app='cheaperChoice'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Cheaper Choice</title>
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/typed.js.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcAMzGs3-EfpHVMmFjUJvPrX02QIjug0A&libraries=places"></script>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/angular/angular.js"></script>
  <script src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/vendor/typed.js/dist/typed.min.js"></script>
  <script src="/static/js/angularApp.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/controllers.js"></script>
</head>
<body>
  <header>
    <h3 class="element"></h3>
  </header>
  <div ui-view></div> 
</body>
</html>
