<div class="container">
	<a ui-sref="results">Results</a>
	<header>
	  <h3 class="element">hello there</h3>
	</header>
	<div class="input-container row">
	  <form class="findPrice">
	    <div class="col-sm-6 col-xs-12">
	      <div class="form-group row">
	        <input id="start" type="text" name="start" class="form-control" placeholder="Start Address">
	      </div>

	      <div class="form-group row">
	        <input id="end" type="text" name="end" class="form-control" placeholder="End Address">
	      </div>
	    </div>

	    <div class="button-container col-sm-6 col-xs-12">
	      <div class='col-sm-6'>
	        <button class="btn btn-lg" type="submit" name="submit">Get Estimate</button>
	      </div> 
	    </div> 
	  </form>
	</div>
</div>